@*Template idea from: https://mdbootstrap.com/snippets/standard/mdbootstrap/2922363#html-tab-view*@

@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@
<div id="intro-example" class="p-5 text-center bg-image mb-3"
     style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp'); height: 100vh;">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.7); height: 90%;">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">MeanTime</h1>
                <h5 class="mb-4">It's time to be 'mean' by monitoring what your kids do in their meantime</h5>
                <a class="btn btn-outline-light btn-lg m-2" asp-controller="Home" asp-action="Dashboard"
                   role="button" rel="nofollow">Let's get started!</a>
                
            </div>
        </div>
    </div>
</div>