@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>



<pre class="container" > 
    We take the privacy of Our End Users seriously and are committed to safeguarding their 
    privacy while providing personalized and valuable Services to You.

    Your access to Our Services is conditional upon End User’s approval of this Policy and End User’s consent to 
    collection, retention and use of the End User Data as per this Policy.

    No Information Collected by Us is rented or sold to any third parties. Transmission of 
    any information via the internet is not completely secure. 
    While We do Our best to protect all Information Collected, particularly Personal Inform
    ation, We cannot guarantee the complete security of End User Data transmitted 
    to Us by third parties via the internet, telephone or any other networks which are not 
    in Our control.


    In the event You use any of the Products, the treatment and protection of End User Data
    will be governed by the applicable Product Specific Agreements in 
    addition to this Policy, and in case of any conflict, terms of the applicable Product Specific Agreements will prevail.

</pre>