html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.thumb{
    width: 150px;
    border-radius: 10px;
    /*height: 170px;*/
}
.renderBody {
    margin-top: 20px;
    min-height: 80vh;
}
/* Default height for small devices */
#intro-example {
    height: 400px;
}

/* Height for devices larger than 992px */
@media (min-width: 992px) {
    #intro-example {
        height: 800px;
    }
}

.bg-image {
    background-size: cover;
    background-repeat: no-repeat;
}

.site-background {
    /*background-color: #6dc6c0cc;*/
    background-color: #c6d7ae54;
    font-family: 'Josefin Sans', sans-serif;
    /*color: #838b91;*/
}
/*Css for genre view*/

.headtag {
    color: #838b91 !important;
}
.addtag{
    font-size:
}
.cancel {
    color: inherit!important;
}

